# Archivos compilados
*.iml
.gradle
/local.properties

# Carpeta de Android Studio
/.idea

# Build
/build
/app/build

# Archivos del sistema
.DS_Store

# Capturas
/captures

# NDK / C++
.externalNativeBuild
.cxx

# Logs
*.log